config TOUCHSCREEN_MTK_EKTF2K_v3702
	bool "EKTF2K for v3702"
	default n
	help
	  Say Y here if you have EKTF2K touch panel.

	  If unsure, say N.

	  To compile this dirver as a module, choose M here: the
	  module will be called.